<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result_1 = connection.exec("select weight, give_for from crops where give_for <> '自家消費';") %>
    <% data_1 = [] %>
    <% result_1.each do |record| %>
      <%  data_1 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <% result_2 = connection.exec("select weight, give_for from crops where quality = true;") %>
    <% data_2 = [] %>
    <% result_2.each do |record| %>
      <%  data_2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya_1.cgi" method="POST">
       下記のボタンを押すと、自家消費以外のゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_1" value="<%= data_1.join('<br>') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya_2.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_2" value="<%= data_2.join('<br>') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
